<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quiz 7.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B09F125E1CE81C8A0009D1CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B09F12721CE81C8A0009D1CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B09F127D1CE81C8A0009D1CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
